<footer class="maincontainer">
    <div class="footer_info">
        <div class="footer_main_info">
            <div class="logo">
                <a href="/">
                    <img src="/assets/image/logo.svg" alt="logo">
                    <span>sunplanet</span>
                </a>
            </div>
            <div class="footer_copyright">
                <span>© 2025 Все права защищены.</span>
            </div>
        </div>
        <div class="footer_nav">
            <div>
                <a href="/#products" class="nav_element">
                    <span>Продукты</span>
                    <div>
                        <svg width="20" height="32" viewBox="0 0 24 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.90397 13.16L7.02597 11.04L18.584 22.594C18.7703 22.7791 18.9181 22.9993 19.019 23.2418C19.1199 23.4843 19.1719 23.7443 19.1719 24.007C19.1719 24.2696 19.1199 24.5297 19.019 24.7722C18.9181 25.0147 18.7703 25.2348 18.584 25.42L7.02597 36.98L4.90597 34.86L15.754 24.01L4.90397 13.16Z"
                                fill="white" />
                        </svg>
                    </div>
                </a>
                <a href="/#about_us" class="nav_element">
                    <span>О компании</span>
                    <div>
                        <svg width="20" height="32" viewBox="0 0 24 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.90397 13.16L7.02597 11.04L18.584 22.594C18.7703 22.7791 18.9181 22.9993 19.019 23.2418C19.1199 23.4843 19.1719 23.7443 19.1719 24.007C19.1719 24.2696 19.1199 24.5297 19.019 24.7722C18.9181 25.0147 18.7703 25.2348 18.584 25.42L7.02597 36.98L4.90597 34.86L15.754 24.01L4.90397 13.16Z"
                                fill="white" />
                        </svg>
                    </div>
                </a>
                <a href="/#news" class="nav_element">
                    <span>Новости</span>
                    <div>
                        <svg width="20" height="32" viewBox="0 0 24 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.90397 13.16L7.02597 11.04L18.584 22.594C18.7703 22.7791 18.9181 22.9993 19.019 23.2418C19.1199 23.4843 19.1719 23.7443 19.1719 24.007C19.1719 24.2696 19.1199 24.5297 19.019 24.7722C18.9181 25.0147 18.7703 25.2348 18.584 25.42L7.02597 36.98L4.90597 34.86L15.754 24.01L4.90397 13.16Z"
                                fill="white" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>