<!DOCTYPE html>
<html lang="en">
  <%- include("components/head.ejs") %>

  <body>
    <%- include("components/header.ejs") %>
    <main class="maincontainer">
      <div id="news_page">
        <div class="mainsection_title_block text_align_center">
          <span class="mainsection_title"
            >Энергогенерирующие фасады для «зеленого» строительства
          </span>
          <span class="news_data">17 апреля 2024</span>
        </div>
        <div class="news_page_main">
          <span
            >Екатеринбург в 11-й раз принимает гостей на Международном
            строительном форуме и выставке «100+ TechnoBuild». За это время
            мероприятие стало не просто региональным событием, а крупнейшим в
            области проектирования, строительства и девелопмента. <br /><br />
            Ежегодно в рамках форума поднимается тема экологического
            строительства и новых решений в этой сфере.
            <br /><br />
            На стенде ГК «КОРТРОС» демонстрируется единственное в России решение
            для облицовки зданий — солнечные фасады, разработанные и
            сертифицированные компанией «Юнигрин Энерджи» для жилого и
            коммерческого строительства. Они являются альтернативой привычным
            вентилируемым, но преобразовывают солнечную энергию в электрическую
            для использования в местах общего пользования, системах
            видеонаблюдения, на парковках.
            <br /><br />
            Символично, что первым многоквартирным домом, на котором были
            установлены такие фасады, стала новостройка в Академическом районе
            Екатеринбурга. Солнечная электростанция ЖК «Олимпика» за год
            генерирует 37 000 киловатт-часов, а жильцы благодаря этому экономят
            более 150 000 рублей. В весенне-летний период будет замещаться до
            30% общедомового потребления электроэнергии, а в осенне-зимний – до
            15%.
            <br /><br />
            Каждый кВт*ч зеленой электроэнергии снижает выбросы углекислого газа
            на 350 г, так здание в Академическом районе ежегодно сокращает
            негативный след на 13 тонн. ЖК «Олимпика» был номинирован на Urban
            Awards «Лучшее инженерное решение объекта строительства».
            <br /><br />
            Здания, использующие фотоэлектрические фасадные системы уже есть в
            Московской и Калининградской областях, Башкирии и прямо сейчас идет
            монтаж такой электростанции на ЖК «Headliner» в Москве, где
            используются разные по размеру и цвету солнечные модули.
            <br /><br />
            Использование энергоэффективных решений позволяет не только
            использовать огромные незадействованные площади зданий, но и снижать
            энергопотребление и расходы на эксплуатацию коммерческой и жилой
            недвижимости.</span
          >
        </div>
      </div>
      <div class="news_distance">
        <div class="mainsection_title_block">
          <span class="more_title">Больше </span>
        </div>
        <div class="news_main">
          <div class="news_wrapper flex_row">
            <div class="news_block">
              <div>
                <img
                  src="/assets/image/news/news1.webp"
                  alt="Заголовок новости"
                />
              </div>
              <div>
                <a href="/news" class="news_title">
                  <span>На востоке Челябинска появится крупная СЭС</span>
                </a>
                <span class="news_data">10 января 2025</span>
              </div>
            </div>
            <div class="news_block">
              <div>
                <img
                  src="/assets/image/news/news2.jpg"
                  alt="Заголовок новости"
                />
              </div>
              <div>
                <a href="/news" class="news_title">
                  <span>
                    Солнечные электростанции появятся на крышах контейнерных
                    терминалов</span
                  ></a
                >
                <span class="news_data">24 ноября 2024</span>
              </div>
            </div>
            <div class="news_block">
              <div>
                <img
                  src="/assets/image/news/news3.jpg"
                  alt="Заголовок новости"
                />
              </div>
              <div>
                <a href="/news">
                  <span class="news_title"
                    >5 солнечных электростанций появились в Свердловской
                    области</span
                  ></a
                >
                <span class="news_data">15 сентября 2024</span>
              </div>
            </div>
            <div class="news_block">
              <div>
                <img
                  src="/assets/image/news/news4.webp"
                  alt="Заголовок новости"
                />
              </div>
              <div>
                <a href="/news" class="news_title">
                  <span
                    >Завод БНК начал серийное производство инверторов
                  </span></a
                >
                <span class="news_data">5 июня 2024</span>
              </div>
            </div>
            <div class="news_block">
              <div>
                <img
                  src="/assets/image/news/news5.webp"
                  alt="Заголовок новости"
                />
              </div>
              <div>
                <a href="/news" class="news_title">
                  <span
                    >Энергогенерирующие фасады для «зеленого»
                    строительства</span
                  ></a
                >
                <span class="news_data">17 апреля 2024</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include("components/footer.ejs") %>
  </body>
</html>
